@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&family=Roboto&display=swap");
:root {
  --color-primary: #f28f0d;
  --color-neutral: #dfcdaa;
  --color-positive: #177c13;
  --color-negative: #c51b1b;
  --color-background: #1b0c22;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-background);
  color: var(--color-neutral);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  font-family: "Averia Serif Libre", cursive;
  font-weight: 700;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
