.card {
  display: flex;
  column-gap: 1rem;
}

.skill {
  background: url(/SkillIcons.png);
  height: 90px;
  width: 90px;
}

.positive {
  color: var(--color-positive);
}

.highlight {
  color: var(--color-primary);
}
